body {
    margin: 0;
    background-color: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

header {
    max-width: 1920px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    padding: 18px;
    background-color: #E06B6B;
    font-size: 24px;

}
header p {
    margin: 50;
    font-weight: bold;
    text-transform: uppercase;
    margin-left: 70px;
}

header p {
    text-decoration: none;
    color: #000000; 
}

header p:hover {
    text-decoration: underline;
    color: #ffffff;
}

header nav p {
    color: #000000;
}

header nav p:hover {
    color: #ffffff;
}

header nav ul {
    margin: 50;
    margin-right: 50px;
    list-style: none;
    display: flex;
    gap: 70px;
    font-weight: bold;
}

header a {
    text-decoration: none;
    color: #000000; 
}

header a:hover {
    text-decoration: underline;
    color: #ffffff;
}

header nav a {
    color: #000000;
}

header nav a:hover {
    color: #ffffff;
}

main {
    flex-grow: 0;
}

section h1 {
    margin: 0;
    margin-left: 170px;
    margin-right: 600px;
    padding-top: 140px;
    font-weight: bolder;
    font-size: 60px;
    justify-content: flex-start;
}

section h2 {
    margin: 0;
    margin-left: 170px;
    margin-right: 800px;
    margin-top: 30px;
    margin-bottom: 100px;
    font-variant: normal;
    font-size: 28px;
    justify-content: flex-start;
    color: #E06B6B;
}

section h3 {
    margin: 0;
    margin-left: 625px;
    margin-right: 225px;
    font-weight: normal;
    font-size: 24px;
    justify-content: flex-start;
    color: #000000;
    padding-top: 60px;
    padding-bottom: 60px;
}


.INFO img {
    max-width: 100%;
    margin-left: 170px;
    width: 1350px;
    height: 700px;
}

.grid-container {
    max-width: 100%;
    width: 1350px ;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px; 
}

.grid-container img {
    width: 100%; 
    height: auto;
}

.grid-container2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-gap: 20px; 
    margin: 0 auto; 
    align-items: flex-end;
    margin-bottom: 130px; 
}

.grid-item {
    width: 100%; 
    height: auto; 
}

.grid-item img {
    width: 100%; 
    height: auto; 
}

section h4 {
    margin: 0;
    margin-left: 625px;
    margin-right: 310px;
    padding-top: 90px;
    padding-bottom: 90px;
    font-style: normal;
    font-size: 24px;
    justify-content: flex-start;
    color: #000000;
}

h5 {
    margin-left: 0px;
    margin-right: 300px;
    margin-top: 140px;
    font-weight: bolder;
    font-size: 60px;
    justify-content: flex-start;
}

section h6 {
    margin-left: 200px;
    font-weight: bold;
    font-size: 60px;
    color: #E06B6B;
    margin-bottom: 10px;
}

.laboratorio {
    margin: 0;
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 45px;
    color: #E06B6B;
}


.sede {
    margin: 0;
    margin-left: -650px;
    margin-right: 500px;
    padding-top: 30px;
    font-weight: bold;
    font-size: 45px;
    justify-content: flex-end;
    color: #E06B6B;
}

.luogo {
    margin-right: 10px;
    font-weight: bolder;
    font-size: 36px;
    color: #000000;
    justify-content: flex-end;
    margin-top: 30px;
    margin-bottom: 50px;
}

.orario {
    margin: 0;
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 36px;
    color: #E06B6B;
}

img {
    max-width: 100%;
    display: block;
}

.contenitore {
	max-width: 1120px; 
	margin: 0 auto; 
    padding: 0 24px;
}

.artisti {
    display: flex;
    gap: 32px;
    padding: 64px 0;
}

.artisti .testo {
    width: 60%;
}

.artisti .immagine {
    width: 40%;
}

.artisti .testo p {
    font-size: 24px;
    line-height: 1.6;
    margin-bottom: 1.5rem;
}

.artisti .testo ul {
    list-style: none;
    font-size: 36px;
    line-height: 1.5;
    margin-bottom: 1.5rem;
}

.artisti .testo li a {
    text-decoration: none;
    font-weight: bold;
    color: #111;
}

.artisti .testo li a:hover {
    text-decoration: underline;
}

footer {
    max-width: 1920px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    padding: 50px;
    background-color: #E06B6B;
    font-size: 20px;
}

footer p {
    margin: 50;
    font-weight: bold;
    padding-left: 70px;
}
    
footer nav ul {
    margin: 50;
    padding-right: 50px;
    list-style: none;
    display: flex;
    gap: 70px;
    font-weight: bolder;
}
    
footer a {
    text-decoration: none;
    color: #000000; 
}

footer nav a {
    color: #000000;
}

@media ( max-width: 800px) {
    header {
        max-width: 800px;
        margin: 0;
        display: flex;
        justify-content: space-between;
        padding: 18px;
        font-size: 12px;
    }

    header p {
        margin: 0;
        font-weight: bold;
        text-transform: uppercase;
    }

    header nav ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        gap: 16px;
    }

    main {
        flex-grow: 0;
    }

    section h1 {
        margin-left: 20px;
        margin-right: 20px;
        padding-top: 80px;
        font-size: 25px;
    }

    section h2 {
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 20px;
        margin-bottom: 50px;
        font-size: 15px;
    }

    section h3 {
        margin-left: 20px;
        margin-right: 20px;
        padding-top: 40px;
        padding-bottom: 40px;
        font-size: 20px;
    }

  .INFO img {
        margin-left: 20px;
        margin-right: 20px;
        width: (50% - 40px);
        height: auto;
    }

    .grid-container {
        max-width: (70% - 40px);
        width: (70% - 40px);
        margin-left: 5px;
        margin-right: 5px;
    }

    section h4 {
        margin-left: 20px;
        margin-right: 20px;
        padding-top: 60px;
        padding-bottom: 60px;
        font-size: 20px;
    }

    h5 {
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 80px;
        font-size: 40px;
    }

    section h6 {
        margin-left: 20px;
        font-size: 40px;
    }

    .laboratorio,
    .sede {
        margin-left: 20px;
        margin-right: 20px;
        font-size: 30px;
    }

    .luogo {
        margin-left: 20px;
        margin-right: 20px;
        font-size: 24px;
        margin-top: 20px;
        margin-bottom: 30px;
    }

    .orario {
        margin-left: 20px;
        margin-right: 20px;
        font-size: 24px;
    }

    .contenitore {
        max-width: (100% - 48px);
        width: (100% - 48px);
        padding: 0 12px;
    }

    .artisti {
        flex-direction: column;
        padding: 32px 0;
    }

    .artisti .testo {
        width: 100%;
    }

    .artisti .immagine {
        width: 100%;
    }

    .artisti .testo p {
        font-size: 18px;
    }

    .artisti .testo ul {
        font-size: 24px;
    }

    footer {
        max-width: 800px;
        margin: 0;
        display: flex;
        justify-content: space-between;
        padding: 18px;
        font-size: 10px;
    }

    footer p {
        margin: 0;
        font-weight: bold;
        text-transform: uppercase;
        font-weight: bold;
        padding-left: 15px;
    }

    footer nav ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        gap: 16px;
    }
}
